body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
}

#container{
	width: 700px;
	margin: 0 auto;
}

h1{ 
	font-weight: 300;
	font-size: 34px; /* could also use ems here if we define a size for the body */
	color: #9bac73;
	letter-spacing: 1px;
}
h3{
	font-weight: 700;
	font-size: 14px;
	color: #738152;
}

p{
	color: #6b6b69;
	font-size: 17px;
	line-height: 28px
	font-weight: 300;
}

.drop-cap{
	font-size: 100px;
	font-weight: 400;
	line-height: 70px;
	float: left;
	margin: 5px 10px 0 0;
}